{% extends 'base.html' %}

{% block body %}


<div class="container">
    <h2>Add TODOs</h2>
    <form action="/update/{{todo.sno}}" method="POST">
        <div class="mb-3">
            <label for="title" class="form-label">Todo Title</label>
            <input type="text" class="form-control" name="title" id="title" value="{{todo.title}}" >
        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">Todo description</label>
            <input type="text" class="form-control" name="desc" id="desc" value="{{todo.desc}}" >

        </div>
        <div class="btn">
            <button type="submit" class="btn btn-warning">Update</button>
        </div>
    </form>
</div>


{% endblock body %}